<div class="container">
  <br>
  <div class="section-title">
    <h3 class="title">Lịch sử đặt hàng</h3>
  </div>

  <table class="shopping-cart-table table table">
    <thead class="thead-dark">
      <tr>
        <th>ID đơn hàng</th>
        <!-- <th>Create Date</th> -->
        <th >Ngày đặt</th>
        <th class="text-center">Tổng giá</th>
        <th class="text-center">Trạng thái</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let order of listOrders; let i = index">
      <tr>
        <td>{{order.Id}}</td>
        <!-- <td>{{order.createdDate| date: 'dd/MM/yyyy'}}</td> -->
        <td >{{order.CreatedDate | date:'MMM d, y, h:mm a'}}</td>
        <td class="text-center">{{order.Total | number}} VND</td>
        <td class="text-center">{{status[order.Status]}}</td>
        <td class="text-right">
          <button class="main-btn icon-btn" routerLink="/account/order-history/{{order.Id}}" routerLinkActive="active">
            <i class="fa fa-edit"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>