<div class="col-md-6">
  <div class="billing-details">
    <div class="section-title">
      <h3 class="title">Chi tiết{{user.LastName}}</h3>
    </div>
    <div class="form-group">
      <p><b>Id: </b>{{user.Id}}</p>
    </div>
    <div class="form-group">
      <p><b>Tên đăng nhập: </b>{{user.Username}}</p>
    </div>
    <div class="form-group">
      <p><b>Mật khẩu: </b>{{user.Password}}</p>
    </div>
    <div class="form-group">
      <p><b>Họ: </b>{{user.FirstName}}</p>
    </div>
    <div class="form-group">
      <p><b>Tên: </b>{{user.LastName}}</p>
    </div>
    <div class="form-group">
      <p><b>Giới tính: </b>{{user.Gender}}</p>
    </div>
    <div class="form-group">
      <p><b>Hình ảnh: </b>{{user.Image}}</p>
    </div>
    <div class="form-group">
      <p><b>Email: </b>{{user.Email}}</p>
    </div>
  </div>
  <a routerLink="../edit/{{user.Id}}" routerLinkActive="active" class="btn primary-btn">
    Sửa
  </a>
  <button class="primary-btn" (click)="deleteUser(user)">Xoá</button>
  <a routerLink="../" routerLinkActive="active" class="btn primary-btn">Trở lại</a>
</div>
