<div *ngIf="productIsExist; then content else other_content"></div>
<ng-template #content>
  <!--  Product Edit -->
  <div class="product product-details clearfix" style="margin-left:10px">
    <div class="row">
      <div class="col-md-6">
          <div class="product-body">
              <div class="section-title">
                  <h3 class="title">Sửa sản phẩm</h3>
                </div>
          </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Tên:</strong>
          <input [(ngModel)]="product.Name" class="input search-input">
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Mã:</strong>
          <input [(ngModel)]="product.Code" class="input search-input">
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <strong>Danh mục:</strong>
        <div>
          <p>
            <select class=" input custom-select" [(ngModel)]="product.IdCategory">
              <option *ngFor="let category of categorys" [value]="category.Id">{{category.Name}}</option>
            </select>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <strong>Trạng thái:</strong>
        <div>
          <p>
            <select class="input custom-select" [(ngModel)]="product.Status">
              <option *ngFor="let item of keys" [value]="item">{{statusDefine[item]}}</option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Chi tiết:</strong>
          <input [(ngModel)]="product.Description" class="input search-input">
        </p>
      </div>
        
     <div class="col-md-6">
      <p>
        <strong>Giảm giá(%):</strong>
        <input [(ngModel)]="product.Discount" class="input search-input" type="number" min="0">
      </p>
     </div>   
    </div>
  </div>
  <p><strong>Miêu tả:</strong></p>
  <div [froalaEditor] [(froalaModel)]="product.Details"></div>
  <hr />
  <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
  <div class="product-body" style="margin-top:15px">
    <div>
      <button class="primary-btn" routerLink="/admin/manager/products'" routerLinkActive="active" (click)="update()">Lưu</button>
      <button class="main-btn" routerLink="/admin/manager/products" routerLinkActive="active">Trở lại</button>
    </div>
  </div>
  
</ng-template>
<ng-template #other_content>
  <h2>Trang không tìm thấy(ID không có).</h2>
</ng-template>