<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="section-title">
        <h3 class="title">Địa chỉ thanh toán</h3>
      </div>
      <div class="form-group">
        <label>Name: </label>
        <strong>{{ order.Address && order.Address[1].Name}}</strong>
      </div>
      <div class="form-group">
        <label>Phone: </label>
        <strong>{{order.Address && order.Address[1].Phone}}</strong>
      </div>
      <div class="form-group">
        <label>Address: </label>
        <strong>{{order.Address && order.Address[1].Street}}, {{order.Address && order.Address[1].District}}, {{order.Address
          && order.Address[1].Province}}</strong>
      </div>

    </div>
    <!-- Billing Address -->
    <div class="col-md-6">
      <!-- Shipping Address -->
      <div class="section-title">
        <h3 class="title">Địa chỉ nhận hàng</h3>
      </div>
      <div class="form-group">
        <label>Name: </label>
        <strong>{{order.Address && order.Address[0].Name}}</strong>
      </div>
      <div class="form-group">
        <label>Phone: </label>
        <strong>{{order.Address && order.Address[0].Phone}}</strong>
      </div>
      <div class="form-group">
        <label>Address: </label>
        <strong>{{order.Address && order.Address[0].Street}}, {{order.Address && order.Address[0].District}}, {{order.Address
          && order.Address[0].Province}}</strong>
      </div>
      <!-- Shipping Address -->
    </div>
    <br>
    <!-- Order Review -->
    <div class="col-md-12">
      <div class="order-summary clearfix">
        <div class="section-title">
          <h3 class="title">Chi tiết đơn hàng</h3>
          <div class="pull-right idbill">{{order.IdBill}} - <span class="status">{{status[order.Status]}}</span></div>
        </div>
        <table class="shopping-cart-table table">
          <thead>
            <tr>
              <th>Product</th>
              <th class="text-center">Giá</th>
              <th></th>
              <th class="text-center">Số lượng</th>
              <th class="text-center">Tổng giá</th>
            </tr>
          </thead>
          <tbody *ngFor="let orderDetail of order.OrderDetails">
            <tr>
              <td class="detail">
                <h4>{{orderDetail.NameProduct}}</h4>
                <ul>
                  <li *ngIf="orderDetail.color">
                    <span>Color:
                      <span class="product-color" [style.background]="orderDetail.color">&nbsp;&nbsp;&nbsp;</span>
                    </span>
                  </li>
                  <li *ngIf="orderDetail.size">
                    <span>Size: {{orderDetail.Size}}</span>
                  </li>
                </ul>
              </td>
              <td class="price text-center">
                <strong>{{orderDetail.Price | number}} VND</strong>
              </td>
              <td></td>
              <td class="price text-center">
                <strong>{{orderDetail.Quantity | number}}</strong>
              </td>
              <td class="total text-center">
                <strong>{{orderDetail.TotalPrice | number}} VND</strong>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th class="empty" colspan="3"></th>
              <th>TOTAL</th>
              <th colspan="2" class="total">{{order.Total | number}} VND</th>
            </tr>
          </tfoot>
        </table>
        <div class="pull-left">
          <a routerLink="/account/order-history" routerLinkActive="active" class="primary-btn">Back</a>
        </div>

        <div class="pull-right">
          <button class="primary-btn" data-toggle="modal" data-target="#myModal">
            Delete
          </button>
        </div>


        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" *ngIf="order.Status == 0; else cantdelete">
              <div class="modal-body">
                <div class="section-title">
                  <h4 class="modal-title">Xác nhận</h4>
                </div>
                <p>Chắc chắn muốn xoá?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="primary-btn" (click)="delete()" data-dismiss="modal">Yes</button>
                <button type="button" class="main-btn" data-dismiss="modal">Close</button>
              </div>
            </div>

            <ng-template #cantdelete>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                  <div class="section-title">
                    <h4 class="modal-title">Đã xoá!</h4>
                  </div>
                  <p>Đơn hàng không thể xoá vì đã được xác nhận!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="primary-btn" data-dismiss="modal">Không hiểu</button>
                </div>
              </div>
              </ng-template>

          </div>
        </div>

      </div>
      <!-- Order Review -->
    </div>
  </div>
  <br>

</div>