<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="order-summary clearfix">
				<div *ngIf="cart.length; else shopping">
					<div class="section-title">
						<h3 class="title">Xem lại đơn hàng</h3>
					</div>
					<table class="shopping-cart-table table">
						<thead>
							<tr>
								<th>Sản phẩm</th>
								<th></th>
								<th class="text-center">Giá</th>
								<th class="text-center">Số lượng</th>
								<th class="text-center">Tổng giá</th>
								<th class="text-right"></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of cart">
								<td class="thumb">
									<img src="{{item.Product.Image}}" alt="" class="img-responsive" style="width:100px; height:100px">
								</td>
								<td class="details">
									<a style="cursor: pointer" (click)="routeProduct(item.Product.Name,item.Product.Id)">{{item.Product.Name}}</a>
									<ul>
										<li *ngIf="item.Product.Color">
											<span>Màu:
												<span class="product-color" [style.background]="item.Product.Color">&nbsp;&nbsp;&nbsp;</span>
											</span>
										</li>
										<li *ngIf="item.Product.Size">
											<span>Cỡ: {{item.Product.Size}}</span>
										</li>
									</ul>
								</td>
								<td class="price text-center">
									<strong>{{item.Product.Price | number}}</strong>
									<br>
								</td>
								<td class="qty text-center">
									<button class="number-btn" (click)="decrease(item.Product,quantity.Value)">&minus;</button>
									<input class="input" id="number" type="number" min="1" value="{{item.Quantity}}" #quantity
									 (change)="updateQuantity(item.Product,quantity.Value)">
									<button class="number-btn" (click)="increase(item.Product,quantity.Value)">+</button>
								</td>
								<td class="total text-center">
									<strong class="primary-color">{{item.Product.Price*item.Quantity | number}}</strong>
								</td>
								<td class="text-right">
									<button class="main-btn icon-btn" (click)="remove(item.Product)">
										<i class="fa fa-close"></i>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th class="empty" colspan="3"></th>
								<th>TỔNG GIÁ</th>
								<th colspan="2" class="total">{{total | number}}</th>
							</tr>
						</tfoot>
					</table>
					<div class="pull-right">
						<button class="primary-btn" routerLink="payment">Đặt hàng</button>
					</div>
				</div>
				<ng-template #shopping>
					<div align="center">
						<div>
							<h4>Giỏ hàng trống.</h4>
						</div>
						<button class="primary-btn" routerLink="/">Tiếp tục mua sắm</button>
					</div>
				</ng-template>
			</div>
		</div>
	</div>
</div>