<div class="col-md-12">

    <form #editUserForm="ngForm">
      <div class="section-title">
        <h3 class="title">Edit User</h3>
      </div>      
  
      <div class="form-group">
  
        Email:
  
        <input name="email" [(ngModel)]="user.Email" type="text" disabled class="input" #email_validation="ngModel" ngModel required EmailValidator>
        <show-errors [control]="email_validation"></show-errors>
  
      </div>
  
      <div class="form-group">
  
        First Name:
  
        <input name="firstName" [(ngModel)]="user.FirstName" type="text" class="input" required>
  
      </div>
  
      <div class="form-group">
  
        Last Name:
  
        <input name="lastName" [(ngModel)]="user.LastName" type="text" class="input" required>
  
      </div>

      <div class="form-group">
  
          Phone:
    
          <input name="phoneNumber" [(ngModel)]="user.PhoneNumber" type="text" class="input" required>
    
        </div>
  
      <div class="form-group">
  
        Gender:
  
        <select name="gender" class="input" [(ngModel)]="user.Gender">
            <option *ngFor="let item of listGender" [value]="item">{{genderEnum[item]}}</option>
        </select>
  
      </div>
  
      <div class="form-group">
  
        Image:
  
        <input name="image" [(ngModel)]="user.Photo" type="text" class="input">
        <td>
          <img src="{{user.Photo}}" class="img-responsive" style="width:200px; height:200px">
        </td>
  
      </div>
  
      <button type="submit" [disabled]="!editUserForm.valid" class="primary-btn" [disabled]="isDisabled" (click)="edit()">Save</button>
      <button routerLink='../' class="main-btn">Back</button>
  
    </form>
  </div>